*.obj
*.exe
*.dll
*.pdb
*.ilk
*.idb
*.log
*.tlog
*.lastbuildstate
*.sdf
*.opensdf
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.VC.opendb


.vscode/
.vs/
*.user
*.ipch
*.suo
*.cache
*.csproj.user
*.vcxproj.user
*.VC.db*

# Backup files
*.bak
*.swp

# Output directories
Debug/
Release/
x64/
x86/



SFML-2.6.1/

SFML-2.6.1/include/Vector2.hpp
SFML-2.6.1/include/Vector2.inl
SFML-2.6.1/include/Vector3.hpp
SFML-2.6.1/include/Vector3.inl
SFML-2.6.1/include/Window.hpp
SFML-2.6.1/include/*.hpp
SFML-2.6.1/include/*.inl

